* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden; }

header {
  width: 80%;
  height: 120px;
  padding-top: 20px;
  margin: auto; }

header img {
  float: left; }

header nav {
  float: right; }

header nav .menu {
  width: 100%;
  height: 100px; }

header nav .menu ul {
  width: 100%;
  position: absolute;
  top: 45px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: #f2f2f2;
  height: 0px;
  transition: height 0.5s ease; }

header nav .menu ul li {
  position: relative; }

header nav .menu ul li:hover {
  background: #5a5a5a;
  color: #fff; }

header nav .menu ul li a {
  position: relative;
  text-decoration: none;
  color: #000;
  padding: 16px 5%;
  line-height: 28px;
  display: block;
  text-transform: uppercase; }

header nav .menu ul li a:hover {
  background: #1938e9; }

header nav .menu input[type="checkbox"]:checked ~ ul {
  height: 240px;
  transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out; }

header nav .menu {
  padding-top: 3px; }

header nav .menu input {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute; }

header nav .menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  position: relative;
  background: #000;
  z-index: 1;
  transform-origin: 3px 0px;
  transition: transform 0.5s ease, opacity 0.55s ease; }

header nav .menu span:first-child {
  transform-origin: 0% 0%; }

header nav .menu span:nth-last-child(2) {
  transform-origin: 0% 100%; }

header nav .menu input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(2px, 1px); }

header nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

header nav .menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1px, 0px); }

main {
  width: 100%;
  margin: auto; }

/*SECCION1*/
main .seccion1 {
  width: 70%;
  margin: auto;
  height: 200px; }

main .seccion1 h1 {
  font-size: 45px; }

main .seccion1 p {
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: justify; }

main .seccion1 article button {
  font-size: 18px;
  background-color: aqua;
  border: aqua;
  padding: 15px 20px; }

/*SECCION2*/
main .seccion2 {
  width: 100%;
  margin: auto;
  margin-top: 120px; }

main .seccion2 h2 {
  width: 70%;
  margin: auto;
  font-size: 40px;
  margin-bottom: 40px;
  color: #FFF;
  position: relative; }

main .episodio {
  position: absolute;
  background-image: linear-gradient(225deg, #2222b3 0%, #0000A3 100%);
  transform: skewy(-6deg);
  width: 100%;
  height: 900px;
  transform-origin: top left; }

main .seccion2 .iframes {
  position: relative;
  text-align: center; }

main .seccion2 .iframes iframe {
  margin-bottom: 72px;
  width: 450px;
  height: 232px;
  border: none; }

/*SECCION3*/
main .seccion3 {
  width: 70%;
  margin: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.figura {
  width: 35%;
  margin: auto; }

.img {
  height: 660px;
  position: relative; }

.descripcion {
  width: 35%;
  margin: auto; }

.descripcion h2 {
  font-size: 48px;
  color: #060A24;
  position: relative; }

.descripcion p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060A24;
  text-align: justify;
  width: 70%;
  height: auto;
  position: relative; }

/*SECCION4*/
.seccion4 h2 {
  width: 70%;
  margin: auto;
  font-size: 40px;
  color: #060A24;
  margin-top: 30px;
  margin-bottom: 30px; }

.entrevistas-img {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.entrevistas-img img {
  width: 30%;
  height: auto; }

/*SECCION5*/
main .seccion5 {
  width: 70%;
  margin: auto;
  height: auto;
  margin-top: 20px; }

.seccion5 .topicos-contenedor {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  text-align: center; }

.seccion5 h2 {
  font-size: 40px;
  color: #060A24; }

.topicos {
  font-size: 24px;
  color: #060A24;
  width: 260px; }

.topicos img {
  justify-content: center; }

.topicos p {
  margin-top: 29px; }

/*FOOTER*/
.footer {
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;
  height: auto;
  text-align: center; }

.footer p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #060A24;
  line-height: 28px; }

.redes-sociales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px 0px 100px; }

.redes a i {
  color: black; }

#spotify {
  margin-right: 30px; }

#instagram {
  margin-right: 30px; }

#twitter {
  margin-right: 30px; }

#facebook {
  margin-right: 30px; }

#telegram {
  margin-right: 30px; }

/**media*/
@media screen and (min-width: 1000px) {
  header nav .menu ul {
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;
    background: unset;
    height: unset; }

  header nav .menu ul li {
    padding: 5px 10px;
    display: inline-block; }

  header nav .menu ul li:hover {
    background: unset;
    border-bottom: 2px solid black; }

  header nav .menu ul li a {
    padding: unset;
    line-height: unset; }

  header nav .menu ul li a:hover {
    color: unset; }

  header nav .menu input {
    display: none; }

  header nav .menu span {
    display: none; } }
@media screen and (max-width: 550px) {
  main .seccion1 article button {
    width: 100%; }

  main .seccion2 h2 {
    text-align: center; }

  main .seccion3 {
    width: 100%;
    display: flex;
    flex-flow: column wrap; }

  main .seccion3 h2 {
    text-align: center; }

  main .seccion3 .figura {
    width: 100%;
    text-align: center; }

  main .seccion3 .descripcion {
    width: 100%;
    text-align: center; }

  main .seccion3 .descripcion p {
    width: 80%;
    margin: auto;
    text-align: justify; }

  /*SECCION4*/
  main .seccion4 {
    width: 100%;
    text-align: center; }

  main .seccion4 .entrevistas-img img {
    width: 100%; }

  /*SECCION5*/
  main .seccion5 {
    width: 100%;
    text-align: center; }

  main .seccion5 h2 {
    width: 100%; }

  main .seccion5 .topicos-contenedor {
    width: 100%;
    display: flex;
    flex-flow: column wrap; }

  main .seccion5 .topicos-contenedor .topicos {
    width: 100%; }

  /*FOOTER*/
  .footer {
    width: 100%; }

  .footer .redes-sociales {
    display: flex;
    flex-flow: row wrap;
    text-align: center; }

  .footer .redes-sociales p {
    width: 100%; }

  .redes-sociales div i {
    width: 100%; } }
@media screen and (min-width: 1000px) {
  .descripcion h2 {
    width: 100%; }

  .descripcion p {
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
